.memo {
  padding-bottom: 5px;
}
.memo >button {
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: #fff;
  color: #333;
}
.label {
  padding-bottom: 5px;
}
.modal-body {
  text-align: left;
}
.starter-template >table {
  text-align: left;
}
.create-button {
  text-align: right;
}
