.memo
  padding-bottom 5px

  >button
    clear-button()

.label
  padding-bottom 5px

  >button
    clear-button()

.modal-body
  text-align left

clear-button()
  text-overflow ellipsis
  width 100%
  white-space nowrap
  overflow hidden
  background-color #ffffff
  color #333

.starter-template
  >table
    text-align left